@model BookStores.Models.Topic

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card" style="margin-top:75px;">
    <div class="card-body">
        <h4 class="card-title">Thông tin chủ đề</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã chủ đề</td>
                        <td class="text-dark font-weight-semibold">@Html.DisplayFor(model => model.codeTopic)</td>
                    </tr>
                    <tr>
                        <td>Tên chủ đề</td>
                        <td>@Html.DisplayFor(model => model.nameTopic)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.idTopic }) |
    @Html.ActionLink("Back to List", "Index")
</p>