@model IEnumerable<BookStores.Models.Topic>
@{
    ViewBag.Title = "Chủ đề";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="card" style="margin-top:75px;">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10">

                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a href="@Url.Action("Create", "Topic")">
                    <button class="btn btn-primary btn-tone m-r-5">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        Thêm mới chủ đề
                    </button>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>STT</th>
                        <th>Tên chủ đề</th>
                        <th>Mã chủ đề</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>

                            <td>
                                @i
                            </td>
                            <td>
                                <div class="d-flex align-items-center">

                                    <h6 class="m-b-0">@item.nameTopic</h6>
                                </div>
                            </td>
                            <td>@item.codeTopic</td>


                            <td class="text-right">
                                <a href="/Admin/Topic/Edit?id=@item.idTopic">
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                </a>
                                <a href="/Admin/Topic/Delete?id=@item.idTopic">
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>