USE [master]
GO
/****** Object:  Database [dbBookStore]    Script Date: 10/12/2023 11:21:16 PM ******/
CREATE DATABASE [dbBookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbBookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIMHOANG\MSSQL\DATA\dbBookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbBookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIMHOANG\MSSQL\DATA\dbBookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbBookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbBookStore]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[idAdmin] [int] NOT NULL,
	[codeAdmin] [char](13) NOT NULL,
	[nameAdmin] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
	[access] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[idAuthor] [int] NOT NULL,
	[codeAuthor] [char](13) NOT NULL,
	[nameAuthor] [nvarchar](100) NOT NULL,
	[address] [nvarchar](200) NULL,
	[story] [nvarchar](200) NULL,
	[phone] [nvarchar](15) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[idAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCategory]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategory](
	[idBookCat] [int] NOT NULL,
	[codeBookCat] [char](13) NOT NULL,
	[idTopic] [int] NOT NULL,
	[nameBookCat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookCategory] PRIMARY KEY CLUSTERED 
(
	[idBookCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[idBooks] [int] NOT NULL,
	[codeBooks] [char](13) NOT NULL,
	[nameBooks] [nvarchar](200) NOT NULL,
	[describe] [nvarchar](max) NOT NULL,
	[Thumb] [varchar](2000) NOT NULL,
	[updateDay] [date] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[idBookCat] [int] NOT NULL,
	[idPublisher] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[idBooks] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[idCustomer] [int] NOT NULL,
	[codeCustomer] [char](13) NOT NULL,
	[nameCustomer] [nvarchar](100) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[birthDay] [date] NOT NULL,
	[creDate] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[idOrder] [int] IDENTITY(1,1) NOT NULL,
	[codeOrder] [char](50) NOT NULL,
	[checkPay] [bit] NOT NULL,
	[deliveryStatus] [int] NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[deliveryDate] [datetime] NOT NULL,
	[idCustomer] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[idOrder] [int] NOT NULL,
	[idBooks] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC,
	[idBooks] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[idPublisher] [int] NOT NULL,
	[codePublisher] [char](13) NOT NULL,
	[namePublisher] [nvarchar](100) NOT NULL,
	[address] [nvarchar](max) NULL,
	[Phone] [nvarchar](15) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[idPublisher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[idTopic] [int] NOT NULL,
	[codeTopic] [char](13) NOT NULL,
	[nameTopic] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[idTopic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteBook]    Script Date: 10/12/2023 11:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteBook](
	[idAuthor] [int] NOT NULL,
	[idBooks] [int] NOT NULL,
	[access] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[idWriteBook] [int] NOT NULL,
 CONSTRAINT [PK_WriteBook] PRIMARY KEY CLUSTERED 
(
	[idWriteBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([idAdmin], [codeAdmin], [nameAdmin], [phone], [userName], [passWord], [access]) VALUES (1, N'1            ', N'Nguyễn Kim Hoàng', N'0352931831', N'kimhoang', N'kimhoang', N'1')
GO
INSERT [dbo].[Author] ([idAuthor], [codeAuthor], [nameAuthor], [address], [story], [phone]) VALUES (1, N'TG2123BS     ', N'hoang', NULL, NULL, NULL)
GO
INSERT [dbo].[BookCategory] ([idBookCat], [codeBookCat], [idTopic], [nameBookCat]) VALUES (1, N'TL2123BS     ', 1, N'Truyện Tranh')
INSERT [dbo].[BookCategory] ([idBookCat], [codeBookCat], [idTopic], [nameBookCat]) VALUES (2, N'TL2223BS     ', 1, N'Bách khoa tri thức')
INSERT [dbo].[BookCategory] ([idBookCat], [codeBookCat], [idTopic], [nameBookCat]) VALUES (3, N'TL2323BS     ', 1, N'Sách song ngữ thiếu nhi')
GO
INSERT [dbo].[Customer] ([idCustomer], [codeCustomer], [nameCustomer], [userName], [passWord], [email], [address], [phone], [birthDay], [creDate]) VALUES (1, N'KH2123BS     ', N'Nguyễn Kim Hoàng', N'kimhoang1', N'kimhoang1', N'hoanggnk.it@gmail.com', N'Lộc Ninh', N'0352931831', CAST(N'2003-03-18' AS Date), CAST(N'2023-10-12T00:04:16.060' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([idOrder], [codeOrder], [checkPay], [deliveryStatus], [orderDate], [deliveryDate], [idCustomer]) VALUES (1, N'Order20231012010302                               ', 0, 1, CAST(N'2023-10-12T01:03:02.777' AS DateTime), CAST(N'2023-10-15T01:03:02.777' AS DateTime), 1)
INSERT [dbo].[Order] ([idOrder], [codeOrder], [checkPay], [deliveryStatus], [orderDate], [deliveryDate], [idCustomer]) VALUES (2, N'Order20231012013359                               ', 0, 1, CAST(N'2023-10-12T01:33:59.717' AS DateTime), CAST(N'2023-10-15T01:33:59.717' AS DateTime), 1)
INSERT [dbo].[Order] ([idOrder], [codeOrder], [checkPay], [deliveryStatus], [orderDate], [deliveryDate], [idCustomer]) VALUES (3, N'Order20231012152356                               ', 0, 1, CAST(N'2023-10-12T15:23:56.457' AS DateTime), CAST(N'2023-10-15T15:23:56.457' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([idOrder], [idBooks], [quantity], [price]) VALUES (1, 7, 2, CAST(23750.00 AS Decimal(9, 2)))
INSERT [dbo].[OrderDetail] ([idOrder], [idBooks], [quantity], [price]) VALUES (2, 5, 3, CAST(42500.00 AS Decimal(9, 2)))
INSERT [dbo].[OrderDetail] ([idOrder], [idBooks], [quantity], [price]) VALUES (3, 2, 9, CAST(14400.00 AS Decimal(9, 2)))
GO
INSERT [dbo].[Publisher] ([idPublisher], [codePublisher], [namePublisher], [address], [Phone]) VALUES (2, N'NXB2223BS    ', N'NXB Mỹ Thuật', NULL, NULL)
INSERT [dbo].[Publisher] ([idPublisher], [codePublisher], [namePublisher], [address], [Phone]) VALUES (3, N'NXB2323BS    ', N'NXB Đông Tây', NULL, NULL)
INSERT [dbo].[Publisher] ([idPublisher], [codePublisher], [namePublisher], [address], [Phone]) VALUES (4, N'NXB2423BS    ', N'NXB Kim Đồng', NULL, NULL)
GO
INSERT [dbo].[Topic] ([idTopic], [codeTopic], [nameTopic]) VALUES (1, N'CÐ2123BS     ', N'Sách thiếu nhi')
INSERT [dbo].[Topic] ([idTopic], [codeTopic], [nameTopic]) VALUES (2, N'CÐ2223BS     ', N'Sách dành cho giới trẻ')
INSERT [dbo].[Topic] ([idTopic], [codeTopic], [nameTopic]) VALUES (3, N'CÐ2323BS     ', N'Tủ sách gia đình')
GO
ALTER TABLE [dbo].[BookCategory]  WITH CHECK ADD  CONSTRAINT [FK_BookCategory_Topic] FOREIGN KEY([idTopic])
REFERENCES [dbo].[Topic] ([idTopic])
GO
ALTER TABLE [dbo].[BookCategory] CHECK CONSTRAINT [FK_BookCategory_Topic]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_BookCategory] FOREIGN KEY([idBookCat])
REFERENCES [dbo].[BookCategory] ([idBookCat])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_BookCategory]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publisher] FOREIGN KEY([idPublisher])
REFERENCES [dbo].[Publisher] ([idPublisher])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publisher]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([idCustomer])
REFERENCES [dbo].[Customer] ([idCustomer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Books] FOREIGN KEY([idBooks])
REFERENCES [dbo].[Books] ([idBooks])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Books]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Order] ([idOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[WriteBook]  WITH CHECK ADD  CONSTRAINT [FK_WriteBook_Author] FOREIGN KEY([idAuthor])
REFERENCES [dbo].[Author] ([idAuthor])
GO
ALTER TABLE [dbo].[WriteBook] CHECK CONSTRAINT [FK_WriteBook_Author]
GO
ALTER TABLE [dbo].[WriteBook]  WITH CHECK ADD  CONSTRAINT [FK_WriteBook_Books] FOREIGN KEY([idBooks])
REFERENCES [dbo].[Books] ([idBooks])
GO
ALTER TABLE [dbo].[WriteBook] CHECK CONSTRAINT [FK_WriteBook_Books]
GO
USE [master]
GO
