
<ul class="nav container">
    <li class="nav-item active ">
        <a class="nav-link" href="@Url.Action("Index","BookStore")" title="Trang chủ">Trang chủ</a>
    </li>
    @Html.Action("TopicPartialView", "BookStore")
    
</ul>

