@model IEnumerable<BookStores.Models.BookCategory>

@{
    Layout = null;
}
        @foreach (var item in Model)
        {
            <a class="nav-link" href="/" title="@item.nameBookCat">@item.nameBookCat</a>
        }